<%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'payment' %>
    <%= javascript_include_tag 'payment' %>
      <!--     payment 本文 -->
      <div class="mobile_header_menu close">
        <ul class="close">
          <li><a href="/" data-turbolinks="false">TOP</a></li>
          <li><a href="https://www.freeplus.co.jp/en/company" target="_blank">About US</a></li>
          <li><a href="/users/list" data-turbolinks="false">Product</a></li>
          <li>Login</li>
        </ul>
      </div>
      <div class="payment">
        <%if @error.present?%>
          <div class="errors">
            <p>■ Buyer Information</p>
            <% @error.each do |f|%>
              <ul>
                <li>・
                  <%=f%>
                </li>
              </ul>
              <%end%>
          </div>
          <%end%>
            <div class="payment_details">
              <!-- 		buyer -->
              <div class="buyer">
                <h1>Buyer information</h1>
                <%=form_with model: @reserver, local: true do |form|%>
                  <table>
                    <tr class="lavel">
                      <td>
                        <%=form.label :first_name, 'First Name'%>
                      </td>
                      <td>
                        <%=form.label :last_name, 'Last Name'%>
                      </td>
                      <td>
                        <%=form.label :gender, 'Gender'%>
                      </td>
                    </tr>
                    <tr>
                      <td class="mobile_label"> First Name </td>
                      <td>
                        <%=form.text_field :first_name%>
                      </td>
                      <td class="mobile_label"> Last Name </td>
                      <td>
                        <%=form.text_field :last_name%>
                      </td>
                      <td class="mobile_label"> Select the Gender </td>
                      <td>
                        <%=form.select :gender,[['Male',1],['Female',2]],{}, {class: 'form-control'}%>
                      </td>
                    </tr>
                    <tr class="lavel">
                      <td>
                        <%=form.label :birth, 'Date of Birth'%>
                      </td>
                      <td>
                        <%=form.label :phone, 'Phone'%>
                      </td>
                      <td>
                        <%=form.label :email, 'Email'%>
                      </td>
                    </tr>
                    <tr>
                      <td class="mobile_label"> Date of Birth </td>
                      <td>
                        <%=form.date_select :birth, {start_year:1930},{class: 'form-control-date'}%>
                      </td>
                      <td class="mobile_label"> Phone Number </td>
                      <td>
                        <%=form.telephone_field :phone%>
                      </td>
                      <td class="mobile_label"> Email Address </td>
                      <td>
                        <%=form.text_field :email%>
                      </td>
                    </tr>
                    <tr class="lavel">
                      <td>
                        <%=form.label :passport, 'Note'%>
                      </td>
                    </tr>
                    <tr>
                      <td class="mobile_label"> Note </td>
                      <td colspan="3">
                        <%=form.text_field :passport, placeholder: "Please fill in if necessary", class: "note"%>
                      </td>
                      <%=form.hidden_field :booking_id, value: @booking.id%>
                    </tr>
                  </table>
                  </div>
              <div class="traveler">
                <h1>Traveler Information</h1>
                <div class="guest_details">
                  <% @number.times do |times| %>
                    <%=form.fields_for :passengers do |passenger|%>
                      <div class="each_guest_detail">
                        <table>
                          <tr class="lavel">
                            <td>
                              <%=passenger.label :first_name, 'First name'%>
                            </td>
                            <td>
                              <%=passenger.label :last_name, 'Last name'%>
                            </td>
                          </tr>
                          <tr>
                            <td class="mobile_label"> First Name </td>
                            <td>
                              <%=passenger.text_field :first_name%>
                            </td>
                            <td class="mobile_label"> Last Name </td>
                            <td>
                              <%=passenger.text_field :last_name%>
                            </td>
                            <td class="mobile_label"> Select the Gender </td>
                          </tr>
                          <tr class="lavel">
                            <td>
                              <%=passenger.label :gender, 'Gender'%>
                            </td>
                            <td>
                              <%=passenger.label :birth, 'Date of Birth'%>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <%=passenger.select :gender,[['Male',1],['Female',2]],{}, {class: 'form-control'}%>
                            </td>
                            <td class="mobile_label"> Date of Birth </td>
                            <td>
                              <%=passenger.date_select :birth, {start_year:1930},{class: 'form-control-date'}%>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <%end%>
                        <%end%>
                          <div class="submit_btn">
                            <%=form.submit "Move to payment"%>
                          </div>
                          <%end%>
                </div>
              </div>
            </div>
      </div>