<%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'index' %>
    <%= javascript_include_tag 'index' %>
      <div class="mobile_header_menu close">
        <ul class="close">
          <li><a href="/" data-turbolinks="false">TOP</a></li>
          <li><a href="https://www.freeplus.co.jp/en/company" target="_blank">About US</a></li>
          <li><a href="/users/list" data-turbolinks="false">Product</a></li>
          <li>Login</li>
        </ul>
      </div>
      <div class="header_img">
        <div class="header_img_detail">
          <div class="img"> <img src="suehiro.jpg">
            <div class="text">
              <p>T R I P 2 L O C A L</p> <span>An unforgettable tailor made Japan experience</span> </div>
          </div>
          <div class="img"> <img src="hiking_onsen.jpg">
            <div class="text">
              <p>T R I P 2 L O C A L</p> <span>An unforgettable tailor made Japan experience</span> </div>
          </div>
          <div class="img"> <img src="onsen8.jpg">
            <div class="text">
              <p>T R I P 2 L O C A L</p> <span>An unforgettable tailor made Japan experience</span> </div>
          </div>
        </div>
      </div>
      <div class="product">
        <h2>PRODUCTS</h2>
        <div class="products">
          <%@product.first(4).each do |product|%>
            <%= link_to user_path(product.id), data: {"turbolinks" => false}  do %>
              <div class="product_item">
                <div class="product_img"> <img src="<%=product.image1%>"> </div>
                <div class="product_detail">
                  <h3>
                    <%=product.name.truncate(40)%>
                  </h3>
                  <table>
                    <tr>
                      <td><i class="fas fa-user fa-fw btn_color"></i></td>
                      <td>Tour with Guide</td>
                    </tr>
                    <tr>
                      <td><i class="fas fa-globe fa-fw btn_color"></i></td>
                      <td>English, Japanese</td>
                    </tr>
                  </table> <span><%=product.adult_price%> JPY~</span> </div>
              </div>
              <%end%>
                <%end%>
        </div>
        <div class="products">
          <%@product.last(4).each do |product|%>
            <%= link_to user_path(product.id), data: {"turbolinks" => false}  do %>
              <div class="product_item">
                <div class="product_img"> <img src="<%=product.image1%>"> </div>
                <div class="product_detail">
                  <h3>
                    <%=product.name.truncate(40)%>
                  </h3>
                  <!--<p><%#=product.simple_explanation.truncate(50)%></p>-->
                  <table>
                    <tr>
                      <td><i class="fas fa-wifi fa-fw btn_color"></i></td>
                      <td>WIFI</td>
                    </tr>
                    <tr>
                      <td><i class="fas fa-utensils fa-fw btn_color"></i></td>
                      <td>Meal</td>
                    </tr>
                  </table> <span><%=product.adult_price%> JPY~</span> </div>
              </div>
              <%end%>
                <%end%>
        </div>
        <div class="special">
          <h3>Local Information</h3>
          <div class="special_contents">
            <div class="first_contents">
              <div class="first_content"> <a href="https://enjoyonsen.city.beppu.oita.jp/100tattoo-friendly_beppuonsen_japan/" target="_blank"> 
              <img src="tatoo.jpg">
                <p>100 Tattoo-allowed Hot Springs in Beppu, Japan</p>
              </a> </div>
              <div class="second_content"> <a href="https://enjoyonsen.city.beppu.oita.jp/posthiking-onsen/" target="_blank">
              <img src="hiking_onsen.jpg">
                <p>Did you know post-hiking onsen is the best?</p>
              </a> </div>
            </div>
            <div class="second_contents">
              <div class="first_content"> <a href="https://enjoyonsen.city.beppu.oita.jp/sandbath/" target="_blank">
              <img src="sunayu.jpg">
                <p>How to take Sunayu (Sand bath) by storm!</p>
             </a> </div>
              <div class="second_content"> <a href="https://enjoyonsen.city.beppu.oita.jp/secret-onsen/" target="_blank">
              <img src="hito.jpg">
                <p>Do you know the Secret Onsen in Beppu?</p>
              </a> </div>
            </div>
          </div>
        </div>
      </div>