<%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'list' %>
    <%= javascript_include_tag 'list' %>
      <div class="mobile_header_menu close">
        <ul class="close">
          <li><a href="/" data-turbolinks="false">TOP</a></li>
          <li><a href="https://www.freeplus.co.jp/en/company" target="_blank">About US</a></li>
          <li><a href="/users/list" data-turbolinks="false">Product</a></li>
          <li>Login</li>
        </ul>
      </div>
      <div class="header_img">
        <div class="header_img_detail">
          <h2>Product List</h2>
        </div>
      </div>
      <div class="main_list">
        <div class="main_list_items">
          <div class="left_list">
            <div class="category">
              <table>
                <tr>
                  <th>Category</th>
                </tr>
                <tr>
                  <td>Onsen</td>
                  <td><i class="fas fa-chevron-right"></i></td>
                </tr>
                <tr>
                  <td>Night Tour</td>
                  <td><i class="fas fa-chevron-right"></i></td>
                </tr>
                <tr>
                  <td>Ticket</td>
                  <td><i class="fas fa-chevron-right"></i></td>
                </tr>
                <tr>
                  <td>Walking Tour</td>
                  <td><i class="fas fa-chevron-right"></i></td>
                </tr>
                <tr>
                  <td>Accommodation</td>
                  <td><i class="fas fa-chevron-right"></i></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="right_list">
            <div class="recommend">
              <h3>Recommend Product</h3>
              <div class="recommend_details">
                <div class="recommend_items">
                  <%=link_to user_path(@product.find(1)), data: {"turbolinks" => false} do%> <img src="<%=@product.find(1).image1%>">
                    <p>
                      <%=@product.find(1).name%>
                    </p>
                    <%end%>
                </div>
                <div class="recommend_items">
                  <%=link_to user_path(@product.find(3)), data: {"turbolinks" => false}  do%> <img src="<%=@product.find(3).image1%>">
                    <p>
                      <%=@product.find(3).name%>
                    </p>
                    <%end%>
                </div>
                <div class="recommend_items">
                  <%=link_to user_path(@product.find(2)), data: {"turbolinks" => false}  do%> <img src="<%=@product.find(2).image1%>">
                    <p>
                      <%=@product.find(2).name%>
                    </p>
                    <%end%>
                </div>
              </div>
            </div>
            <div class="second_recommend">
              <div class="details">
                <%=link_to user_path(@product.find(5)), data: {"turbolinks" => false}  do%> <img src="<%=@product.find(5).image1%>">
                  <p>
                    <%=@product.find(5).name%>
                  </p>
                  <%end%>
              </div>
            </div>
            <div class="product_list">
              <!--ここが動的になる-->
              <div class="product_list_items_detail">
                <%@product.each do |product|%>
                  <div class="product_list_items">
                    <div class="item_img"> <img src="<%=product.image5%>"> </div>
                    <div class="item_description">
                      <%=link_to user_path(product.id), data: {"turbolinks" => false}  do%>
                        <h4>
                          <%=product.name.truncate(90)%>
                        </h4>
                        <p>
                          <%=product.simple_explanation.truncate(90)%>
                        </p>
                        <table>
                          <tr>
                            <td><i class="fas fa-map-marker-alt fa-fw"></i></td>
                            <td>
                              <%=product.prefecture%>
                            </td>
                          </tr>
                          <tr>
                            <td><i class="fas fa-user-friends fa-fw"></i></td>
                            <td>passengers
                              <%=product.max_stock%>
                            </td>
                          </tr>
                        </table>
                        <div class="item_description_price">JPY <span><%=product.adult_price%></span></div>
                        <%end%>
                    </div>
                  </div>
                  <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>