<div class="header">
  <div class="header_logo"> <a href=""><img src="img/logo.png"></a> </div>
  <div class="header_items">
    <ul>
      <li><a href="">TOP</a></li>
      <li><a href="">About US</a></li>
      <li><a href="">Product</a></li>
      <li><a href="">Help</a></li>
      <li>Login</li>
    </ul>
  </div>
</div>
<!--     payment 本文 -->
<div class="payment">
  <div class="payment_details">
    <!-- 		buyer -->
    <div class="buyer">
      <h1>Buyer information</h1>
      <table>
        <tr>
          <td>First Name</td>
          <td>Familiy Name</td>
        </tr>
        <tr>
          <td><input type="text" name="first_name"></td>
          <td><input type="text" name="familiy_name"></td>
        </tr>
        <tr>
          <td>Nationality</td>
          <td>Phone Number</td>
        </tr>
        <tr>
          <td><input type="text" name="nationality"></td>
          <td><input type="tel" name="phone_number"></td>
        </tr>
        <tr>
          <td>Email</td>
        </tr>
        <tr>
          <td><input type="email" name="email"></td>
        </tr>
      </table> <input class="submit" type="submit" name="submit"> </div>
    <!-- traveler -->
    <div class="traveler">
      <h1>Traveler Information</h1>
      <div class="traveler_item">
        <div class="traveler_title_img"> <img src="img/womans_onsen.jpg"> </div>
        <div class="traveler_title">
          <h2>JR Whole Japan Rails Pass (Consecutive 7, 14 or 21Whole Japan Rails Pass (Consecutive 7, 14 or 21 dats)</h2>
          <!-- 商品簡単説明 -->
          <div class="traveler_product">
            <div class="date">Date : <span>2019/12/22</span></div>
            <div class="adult_num">Adult ×　<span>5</span></div>
            <div class="adult_num">Child ×　<span>2</span></div>
            <div class="adult_num">Infant ×　<span>6</span></div>
          </div>
        </div>
      </div>
      <!-- 各参加者の情報 -->
      <div class="guest_details">
        <div class="each_guest_detail">
          <h3>Adult <span>1</span></h3>
          <table>
            <tr>
              <td>First Name</td>
              <td>Last Name</td>
              <td>Gender</td>
            </tr>
            <tr>
              <td><input type="text" name="first_name"></td>
              <td><input type="text" name="last_name"></td>
              <td><input type="text" name="gender"></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>Passport No.</td>
            </tr>
            <tr>
              <td><input type="date" name="date_of_birth"></td>
              <td><input type="text" name="passport"></td>
            </tr>
          </table>
        </div>
        <div class="each_guest_detail">
          <h3>Adult <span>1</span></h3>
          <table>
            <tr>
              <td>First Name</td>
              <td>Last Name</td>
              <td>Gender</td>
            </tr>
            <tr>
              <td><input type="text" name="first_name"></td>
              <td><input type="text" name="last_name"></td>
              <td><input type="text" name="gender"></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>Passport No.</td>
            </tr>
            <tr>
              <td><input type="date" name="date_of_birth"></td>
              <td><input type="text" name="passport"></td>
            </tr>
          </table>
        </div>
        <div class="each_guest_detail">
          <h3>Adult <span>1</span></h3>
          <table>
            <tr>
              <td>First Name</td>
              <td>Last Name</td>
              <td>Gender</td>
            </tr>
            <tr>
              <td><input type="text" name="first_name"></td>
              <td><input type="text" name="last_name"></td>
              <td><input type="text" name="gender"></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>Passport No.</td>
            </tr>
            <tr>
              <td><input type="date" name="date_of_birth"></td>
              <td><input type="text" name="passport"></td>
            </tr>
          </table>
        </div>
        <div class="each_guest_detail">
          <h3>Adult <span>1</span></h3>
          <table>
            <tr>
              <td>First Name</td>
              <td>Last Name</td>
              <td>Gender</td>
            </tr>
            <tr>
              <td><input type="text" name="first_name"></td>
              <td><input type="text" name="last_name"></td>
              <td><input type="text" name="gender"></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>Passport No.</td>
            </tr>
            <tr>
              <td><input type="date" name="date_of_birth"></td>
              <td><input type="text" name="passport"></td>
            </tr>
          </table>
        </div> <input type="submit" name="submit" class="submit"> </div>
    </div>
    <!-- 		payment_form -->
    <div class="payment_form">
      <div class="payment_title">
        <h1>Payment Form</h1>
      </div>
      <div class="payment_main">
        <h2>Credit card</h2>
      </div>
    </div>
    <!-- order_total -->
    <div class="order_total">
      <div class="order_title">
        <h1>Order Total Amount</h1>
      </div>
      <div class="order_main">
        <p>Total Amount</p>
        <h3>JPY <span>54,790</span></h3>
      </div>
    </div>
  </div>
</div>