<%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'show' %>
    <%= javascript_include_tag 'show' %>
      <div class="mobile_header_menu close">
        <ul class="close">
          <li><a href="/" data-turbolinks="false">TOP</a></li>
          <li><a href="https://www.freeplus.co.jp/en/company" target="_blank">About US</a></li>
          <li><a href="/users/list" data-turbolinks="false">Product</a></li>
          <li>Login</li>
        </ul>
      </div>
      <!-- パンくず -->
      <div class="breadcrumb_container">
        <ul class="breadcrumb">
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"> <a href="ホームのＵＲＬ" itemprop="url">
   <span itemprop="title">Home</span>
  </a> </li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"> <a href="カテゴリーＵＲＬ" itemprop="url">
   <span itemprop="title">Oita</span>
  </a> </li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"> <a href="子カテゴリーのＵＲＬ" itemprop="url">
   <span itemprop="title">Beppu</span>
  </a> </li>
        </ul>
      </div>
      <!-- 本文 -->
      <div class="product_image">
        <div class="product_image_details">
          <div class="product_image_item"> 
          <img src="<%=@product.image1%>"> 
          <img src="<%=@product.image2%>"> 
          <img src="<%=@product.image3%>"> 
          <img src="<%=@product.image4%>"> 
          <img src="<%=@product.image5%>"> 
          </div>
        </div>
      </div>
      <div class="product_detail">
        <div class="product_detail_information">
          <div class="product_detail_information_item">
            <div class="details">
              <h1>
                <%=@product.name%>
              </h1>
              <p>Number of remaining seats <span><%=@product.max_stock%></span></p>
              <div class="details_icon">
                <div class="duration">
                  <table>
                    <tr>
                      <td><i class="fas fa-user-friends fa-fw"></i></td>
                      <td>Passengers : </td>
                      <td>
                        <%=@product.max_stock%>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="cxl">
                  <table>
                    <tr>
                      <td><i class="fas fa-times fa-fw"></i></td>
                      <td>CXL : </td>
                      <td>
                        <%=@product.min_cancel%> Days before</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="short_comment">
                <p>
                  <%=simple_format(@product.simple_explanation)%>
                </p>
              </div>
              <!-- package -->
              <div class="package">
                <h3>Your Package</h3>
                <div class="calender">
                  <table>
                    <tr>
                      <td><i class="far fa-calendar-alt fa-2x fa-fw btn_color"></i></td>
                      <td>
                        <%= form_tag(url_for(:action => 'show'), :remote => true) do %>
                          <%= text_field_tag :date, "Select The Date", {class: "date_input", id: "datepicker", required: true}  %>
                            <script>
                              var date = $("#datepicker").val();
                              $(function(){
                                $("#datepicker").click(function(){
                                });
                              });
                            </script>
                            <%= submit_tag "check the availability", {class: "date_input_form", id: "datesubmit"}  %>
                              <% end %>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="package_details">
                  <div class="pacakge_product">
                    <div class="product_name">
                      <%=@product.name%>
                    </div>
                    <div class="price"><span class="total_price">0</span>JPY</div>
                  </div>
                  <!-- 人数調整             -->
                  <div class="numbers">
                    <div class="availability"><span class="calender_flexible">0</span>　Seat abailable!!</div>
                    <div class="package_adult">
                      <div class="adult">
                        <h5>Adult</h5>
                        <p>Price : <span class="adult_price"><%=@product.adult_price%></span> </p>
                      </div>
                      <div class="adult_number"> <i class="fas fa-minus btn_color"></i> <span>1</span> <i class="fas fa-plus btn_color"></i> </div>
                    </div>
                    <!-- 人数調整             -->
                    <!-- 人数調整             -->
                    <div class="package_child">
                      <div class="child">
                        <h5>Child</h5>
                        <p>Price : <span class="child_price"><%=@product.child_price%></span> </p>
                      </div>
                      <div class="child_number"> <i class="fas fa-minus btn_color"></i> <span>0</span> <i class="fas fa-plus btn_color"></i> </div>
                    </div>
                    <!-- 人数調整             -->
                    <!-- 人数調整             -->
                    <div class="package_infant">
                      <div class="infant">
                        <h5>Infant</h5>
                        <p>Price : <span class="infant_price"><%=@product.infant_price%></span> </p>
                      </div>
                      <div class="infant_number"> <i class="fas fa-minus btn_color"></i> <span>0</span> <i class="fas fa-plus btn_color"></i> </div>
                    </div>
                    <!-- 人数調整             -->
                  </div>
                </div>
              </div>
              <div class="explanation">
                <div class="subject">
                  <h1>Details</h1>
                </div>
                <div class="highlight">
                  <h2>Highlights</h2>
                  <p>
                    <%=simple_format(@product.highlight)%>
                  </p>
                </div>
                <div class="information_of_course">
                  <h2>Information of Course</h2>
                  <p>
                    <%=simple_format(@product.course)%>
                  </p>
                </div>
                <div class="important_information">
                  <h2>Important information</h2>
                  <p>
                    <%=simple_format(@product.important)%>
                  </p>
                </div>
                <div class="about_tour">
                  <h2>About the Tour</h2>
                  <p>
                    <%=simple_format(@product.about_tour)%>
                  </p>
                </div>
                <div class="addtional_information">
                  <h2>Addtional information</h2>
                  <p>
                    <%=simple_format(@product.additional_Information)%>
                  </p>
                </div>
              </div>
              <div class="itinerary">
                <div class=itinerary_detail>
                  <h2>itinerary</h2>
                  <p>
                    <%=simple_format(@product.itinerary)%>
                  </p>
                </div>
              </div>
              <div class="price_included">
                <div class="price_included_details">
                  <h2>price included</h2>
                  <p>
                    <%=simple_format(@product.include_price)%>
                  </p>
                </div>
              </div>
              <div class="cancel">
                <div class="cancel_detail">
                  <h2>Cancelation Policy</h2>
                  <p>
                    <%=simple_format(@product.cancellation_policy)%>
                  </p>
                </div>
              </div>
            </div>
            <!--予約入力画面        -->
            <div class="booking_form">
              <div class="booking_area">
                <div class="booking_details">
                  <h1>
                    <%=@product.adult_price%> JPY</h1>
                  <table class="date">
                    <tr class="date_table">
                      <td> <i class="far fa-calendar-alt fa-fw btn_color"></i> </td>
                      <td>Select the Date</td>
                    </tr>
                  </table>
                  <div class="form_for_booking">
                    <%=form_with model: @booking, local: true do |form| %>
                      <%=form.hidden_field :product_id, value: @product.id %>
                        <%=form.hidden_field :date, id: :date%>
                          <%=form.hidden_field :adult_number, id: :adult_number, value:1%>
                            <%=form.hidden_field :child_number, id: :child_number, value:0%>
                              <%=form.hidden_field :infant_number, id: :infant_number, value:0%>
                                <h2>
                                  <%=form.submit(class:"input_btn", value:"B O O K")%>
                                </h2>
                                <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>