body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #383838;
  font-size: 16px;
  margin: 0px;
  line-height: 1.7;
  letter-spacing: 0.1em
}

.header {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: 10%;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  margin: 15px 0px 15px 0px;
}

.header li {
  display: inline;
  padding-right: 30px;
}

.header_items a {
  text-decoration: none;
  color: #383838
}

.header_items a:hover {
  color: black;
}

.header_logo img {
  width: 140px;
  max-height: 100%;
}


/*メイン画面*/

h1,h2,h3,h4,h5{
	font-weight: bold;
	margin: 10px 0px 10px 0px;
	font-size: 16px;
}

.main_container {
  max-width: 1000px;
  margin: 0 auto;
}

.upper_section {
  display: flex;
}

.upper_section table {
  width: 100%;
  border-collapse: collapse;
}

.upper_section tr {
  border-bottom: solid 2px white;
}

.upper_section tr:last-child {
  border-bottom: none;
}

.upper_section th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: rgb(33, 181, 192);
  ;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.upper_section table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.upper_section table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 5px;
}

.product {
  width: 50%;
}

.booking {
  width: 50%;
}

.lower_section {
  width: 100%;
}

.lower_section table {
  border-collapse: collapse;
  width: 100%;
}

.lower_section {
  margin: 20px 0px 0px 0px;
}

.lower_section th {
  text-align: left;
  background-color: rgb(33, 181, 192);
  color: white;
  text-align: center;
  padding: 5px 5px;
  font-size: 14px;
  border: solid 1px;
}

.lower_section tr {
  border-bottom: solid 2px white;
}

.lower_section td {
  background-color: #eee;
  padding: 5px 0;
  border: solid 2px white;
}

td, th {
  padding: 3px 10px;
}

td {
  text-align: center;
  font-size: 14px;
}

th {
  font-weight: bold;
  padding-right:5px;
}




.payment_form table {
  width: 100%;
  border-collapse: collapse;
  margin:10px 0px 20px 0px;
}

.payment_form tr {
  border-bottom: solid 2px white;
}

.payment_form tr:last-child {
  border-bottom: none;
}

.payment_form th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: rgb(33, 181, 192);
  ;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.payment_form table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.payment_form table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
  font-size:16px;
  font-weight:bold;
}



















.sns{
  width:350px;
  margin:0 auto;
  padding-top:10px;
  text-align:center;
}

.fa-facebook-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-instagram-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-twitter-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}



.black_footer{
	max-width: 100%;
	height:300px;
	margin-top: 60px;
	background-image: url("/cute_onsen.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}
.footer{
	background-color: rgba(0,0,0,0.6);
	height:300px;
}

.footer_details table{
	margin-left: auto;
	margin-right: auto;
  table-layout:fixed;
height:300px;
  
}

.footer_details td{
  text-align:center;
  color:#edf0ef;
  padding: 5px 45px 5px 45px;
}
.footer_details td a{
  text-decoration:none;
  color:#edf0ef;
}

.footer_details th{
  color:white;
  font-weight:bold;
  font-size:16px;
  padding-bottom:10px;
  padding-top:30px;
}


.mobile_menu{
  display:none;
}
.mobile_search{
  display:none;
}
.mobile_header_menu{
  display:none;
}














@media screen and (max-width:480px){
.header{
  margin:0px 0px;
  width:100%;
}
.header_items{
  display:none;
}

.header_logo img{
  width:180px;
}

.mobile_menu{
  display:block;
}

.mobile_search{
  display:block;
}

.close{
  display:none;
}

.mobile_header_menu{
  display:block;
  text-align:center;
  
}

.mobile_header_menu a{
  text-decoration:none;
  color:#383838;
  
}




.header{
  display:flex;
    align-items: center;
    justify-content:space-around;
}

.fa-bars, .fa-search{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: rgb(33, 181, 192);
}



















/*メイン画面*/

h1,h2,h3,h4,h5{
	font-weight: bold;
	margin: 10px 0px 5px 10px;
	font-size: 12px;
}

.main_container {
  max-width: 1000px;
  margin: 0 auto;
}

.upper_section {
  display: flex;
}

.upper_section table {
  width: 100%;
  border-collapse: collapse;
}

.upper_section tr {
  border-bottom: solid 2px white;
}

.upper_section tr:last-child {
  border-bottom: none;
}

.upper_section th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: rgb(33, 181, 192);
  color: white;
  text-align: center;
  padding: 10px 5px;
  font-size: 10px;
}

.upper_section table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.upper_section table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
  font-size: 10px;
  vertical-align:middle;
}

.product {
  width: 50%;
}

.booking {
  width: 50%;
}

.lower_section {
  width: 100%;
}

.lower_section table {
  border-collapse: collapse;
  width: 100%;
}

.lower_section {
  margin: 20px 0px 0px 0px;
}

.lower_section th {
  text-align: left;
  background-color: rgb(33, 181, 192);
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 10px;
  border: solid 1px;
}

.lower_section tr {
  border-bottom: solid 2px white;
}

.lower_section td {
  background-color: #eee;
  padding: 5px 0;
  border: solid 2px white;
}

td, th {
  padding: 3px 10px;
}

td {
  text-align: center;
  font-size: 10px;
}

th {
  font-weight: bold;
}




.payment_form table {
  width: 100%;
  border-collapse: collapse;
  margin:10px 0px 20px 0px;
}

.payment_form tr {
  border-bottom: solid 2px white;
}

.payment_form tr:last-child {
  border-bottom: none;
}

.payment_form th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: rgb(33, 181, 192);
  ;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.payment_form table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.payment_form table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
  font-size:16px;
  font-weight:bold;
}

.payment_main{
  text-align:center;
}

































.sns{
  width:350px;
  margin:0 auto;
  padding-top:10px;
  text-align:center;
}

.fa-facebook-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-instagram-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-twitter-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}


.black_footer{
	max-width: 100%;
	height:300px;
	margin-top: 60px;
	background-image: url("/cute_onsen.jpg");
	background-repeat:no-repeat;
	background-size: cover;
  object-fit: cover;

  
}
.footer{
	background-color: rgba(0,0,0,0.6);
	height:300px;
}

.footer_details table{
	margin-left: auto;
	margin-right: auto;
  table-layout:fixed;
height:300px;
  
}

.footer_details td{
  text-align:center;
  color:#edf0ef;
  padding: 5px 15px 5px 15px;
  font-size:10px;
}
.footer_details td a{
  text-decoration:none;
  color:#edf0ef;
}

.footer_details th{
  color:white;
  font-weight:bold;
  font-size:16px;
  padding-bottom:10px;
  padding-top:30px;
}













}
