@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@charset "utf-8";

body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #383838;
  font-size: 14px;
  margin: 0px;
  line-height: 1.7;
  letter-spacing: 0.1em;
}

.header {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: 10%;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  margin: 15px 0px 15px 0px;
}

.header li {
  display: inline;
  padding-right: 30px;
}

.header_items a {
  text-decoration: none;
  color: #383838;
  display:none;
}


.header_logo img {
  width: 140px;
  max-height: 100%;
}


.header_img_detail img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}



.header_img_detail .img{
  width: 100%;
  	height: auto;
	position: relative;
}

.header_img_detail .img .text{
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  color: white;
  font-size: 80px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:bold;
  -webkit-text-stroke-width: 0.1px ;
  -webkit-text-stroke-color: gray;
}
.header_img_detail .img span{
        color:white;
        font-size:20px;
}








.search {
  text-align: center;
}

#sbox1 {
  width: 280px;
  height: 30px;
  padding: 0px;
}

#sbtn2 {
  width: 70px;
  /*検索ボタンの横幅*/
  height: 35px;
  /*検索ボタンの縦幅*/
  border-radius: 0 2px 2px 0;
  /*検索ボタンの角を丸める*/
  background: rgb(33, 181, 192);
  /*検索ボタンの背景カラー*/
  border: none;
  /*検索ボタンの枠線を消す*/
  color: #fff;
  /*検索ボタンのテキストカラー*/
  font-weight: bold;
  /*検索ボタンのテキスト太字*/
  font-size: 16px;
  /*検索ボタンのフォントサイズ*/
}

.btn_color{
  color: rgb(33, 181, 192);
}


/*product*/

.product h2 {
  margin-left: 20%;
  margin-right:20%;
  margin-top: 60px;
  font-size: 24px;
}

.product_item {
  width: 260px;
  height: 300px;
  margin: 20px 10px 20px 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .12), 0 2px 3px 0 rgba(0, 0, 0, .22);
  transition: .3s;
}
.product_item:hover {
  transform: scale(1.01);
  box-shadow:0 5px 20px #999;
}


.product_item span {
	color:rgb(33, 181, 192);
}

.product_img {
  height: 50%;
  width: 100%;
}

.product_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product_detail span {
  display: block;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

.product_detail h3 {
  font-size: 16px;
}
// .product_detail p {
//   font-size: 12px;
// }

.product_detail td {
  font-size: 12px;
}

.product_detail {
  padding: 5px 10px 5px 10px;
}

.products {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-around;
}
.products a{
    text-decoration: none;
    color: #383838;
}




/*special*/

.special h3{
  margin-left: 20%;
  margin-right:20%;
  margin-top: 60px;
  font-size: 24px;
  margin-bottom: 20px;

}

.special{
	margin-top: 60px;
}

.special_contents {
  margin-left:10%;
  margin-right: 10%;
}

.first_contents {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.first_contents .first_content {
  width: 70%;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.first_contents .first_content img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


.first_contents .first_content p {
  object-fit: cover;
  height: 300px;
  width: 100%;
  position: absolute;
  /*絶対配置*/
  color: white;
  /*文字は白に*/
  top: 80%;
  left: 5%;
  font-size: 25px;
}

.first_contents .second_content {
  width: 30%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.first_contents .second_content img {
  height: 300px;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


.first_contents .second_content p {
  object-fit: cover;
  height: 300px;
  width: 100%;
  position: absolute;
  /*絶対配置*/
  color: white;
  /*文字は白に*/
  top: 70%;
  left: 5%;
  font-size: 25px;
}

.second_contents {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.second_contents .first_content {
  width: 50%;
  height: 300px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.second_contents .first_content img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}



.second_contents .first_content p {
  object-fit: cover;
  height: 300px;
  width: 100%;
  position: absolute;
  /*絶対配置*/
  color: white;
  /*文字は白に*/
  top: 80%;
  left: 5%;
  font-size: 25px;
}

.second_contents .second_content {
  width: 50%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.second_contents .second_content img {
  height: 300px;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


.second_contents .second_content p {
  object-fit: cover;
  height: 300px;
  width: 100%;
  position: absolute;
  /*絶対配置*/
  color: white;
  /*文字は白に*/
  top: 80%;
  left: 5%;
  font-size: 25px;
}



.sns{
  width:350px;
  margin:0 auto;
  padding-top:10px;
  text-align:center;
}

.fa-facebook-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-instagram-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-twitter-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}




.black_footer{
	max-width: 100%;
	height:300px;
	margin-top: 60px;
	background-image: url("/cute_onsen.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}
.footer{
	background-color: rgba(0,0,0,0.6);
	height:300px;
}

.footer_details table{
	margin-left: auto;
	margin-right: auto;
  table-layout:fixed;
height:300px;
  
}

.footer_details td{
  text-align:center;
  color:#edf0ef;
  padding: 5px 45px 5px 45px;
}
.footer_details td a{
  text-decoration:none;
  color:#edf0ef;
}

.footer_details th{
  color:white;
  font-weight:bold;
  font-size:16px;
  padding-bottom:10px;
  padding-top:30px;
}

.mobile_menu{
  display:none;
}
.mobile_search{
  display:none;
}
.mobile_header_menu{
  display:none;
}








@media screen and (max-width:480px){
.header{
  margin:0px 0px;
  width:100%;
}
.header_items{
  display:none;
}

.header_logo img{
  width:180px;
}

.mobile_menu{
  display:block;
}

.mobile_search{
  display:block;
}

.close{
  display:none;
}

.mobile_header_menu{
  display:block;
  text-align:center;
  
}

.mobile_header_menu a{
  text-decoration:none;
  color:#383838;
  
}




.header{
  display:flex;
    align-items: center;
    justify-content:space-around;
}

.fa-bars, .fa-search{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: rgb(33, 181, 192);
}















// ヘッダー画像

.header_img .header_img_detail img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.header_img .header_img_detail .img{
  max-width: 100%;
  height: auto;
	position: relative;
}

.header_img_detail .img .text{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center; 
        align-items: center; 
        color:white;
        font-size:25px;
}
.header_img_detail .img span{
        color:white;
        font-size:10px;
}









/*product*/

.product h2 {
  margin-left: 5%;
  margin-right:0%;
  margin-top: 20px;
  font-size: 18px;
}

.product_item {
  width: 260px;
  height: 300px;
  margin: 20px 10px 20px 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .12), 0 2px 3px 0 rgba(0, 0, 0, .22);
  transition: 0.3s;
}


.product .products{
  overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
      margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content:flex-start;
}

.product_item span {
	color:rgb(33, 181, 192);
}

.product_img {
  height: 50%;
  width: 100%;
}

.product_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product_detail span {
  display: block;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

.product_detail h3 {
  font-size: 16px;
}
// .product_detail p {
//   font-size: 12px;
// }

.product_detail td {
  font-size: 12px;
}

.product_detail {
  padding: 5px 10px 5px 10px;
}

.products a{
    text-decoration: none;
    color: #383838;
}









// special area
.special h3{
  margin-left: 5%;
  margin-right:0%;
  margin-top: 20px;
  font-size: 18px;

}

.special{
	margin-top: 60px;
}

.special_contents {
  margin-left:10%;
  margin-right: 2%;
}

.special .special_contents .first_contents {
  display: flex;
  justify-content: flex-start;
	  overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    width:100%;
    height:300px;
}

.first_contents .first_content {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
}

.special .special_contents .first_contents img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}

.special .special_contents .first_contents p {
  object-fit: cover;
  width: 50%;
  height:250px;
  position: absolute;
  /*絶対配置*/
  color: gray;
  /*文字は白に*/
  top: 10%;
  left: 5%;
  font-size: 16px;
}

.first_contents .second_content {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
}

.first_contents .second_content img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}

.first_contents .second_content p {
  object-fit: cover;
  // height: 70px;
  height:250px;
  width: 50%;
  position: absolute;
  /*絶対配置*/
  color: gray;
  /*文字は白に*/
  top: 60%;
  left: 5%;
  font-size: 16px;
}

.second_contents {
  display: flex;
  justify-content: flex-start;
	  overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    width:100%;
    height:320px;
}

.second_contents .first_content {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
}

.second_contents .first_content img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}

.second_contents .first_content p {
  object-fit: cover;
  // height: 70px;
  width: 50%;
  position: absolute;
  /*絶対配置*/
  color: white;
  /*文字は白に*/
  top: 60%;
  left: 5%;
  font-size: 16px;
}

.second_contents .second_content {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
}

.second_contents .second_content img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}

.second_contents .second_content p {
  object-fit: cover;
  // height: 70px;
  width: 50%;
  position: absolute;
  /*絶対配置*/
  color: white;
  /*文字は白に*/
  top: 60%;
  left: 5%;
  font-size: 16px;
}









.sns{
  width:350px;
  margin:0 auto;
  padding-top:10px;
  text-align:center;
}

.fa-facebook-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-instagram-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-twitter-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}



.black_footer{
	max-width: 100%;
	height:300px;
	margin-top: 60px;
	background-image: url("/cute_onsen.jpg");
	background-repeat:no-repeat;
	background-size: cover;
  object-fit: cover;

  
}
.footer{
	background-color: rgba(0,0,0,0.6);
	height:300px;
}

.footer_details table{
	margin-left: auto;
	margin-right: auto;
  table-layout:fixed;
height:300px;
  
}

.footer_details td{
  text-align:center;
  color:#edf0ef;
  padding: 5px 15px 5px 15px;
  font-size:10px;
}
.footer_details td a{
  text-decoration:none;
  color:#edf0ef;
}

.footer_details th{
  color:white;
  font-weight:bold;
  font-size:16px;
  padding-bottom:10px;
  padding-top:30px;
}













}
