body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #383838;
  font-size: 14px;
  margin: 0px;
  line-height: 1.7;
  letter-spacing: 0.1em
}

.header {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: 10%;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  margin: 15px 0px 15px 0px;
}

.header li {
  display: inline;
  padding-right: 30px;
}

.header_items a {
  text-decoration: none;
  color: #383838
}

.header_items a:hover {
  color: black;
}

.header_logo img {
  width: 140px;
  max-height: 100%;
}

.header_img_item {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.btn_color{
  color: rgb(33, 181, 192);
}

.header_img_detail{
  background-size: cover;
height:200px;
}

.header_img_detail h2{
  color: white;
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(to bottom, rgba(33, 181, 192,0.8), #FFF);
  height: 120px;
  text-shadow:1px 1px 2px gray;
  padding-right: auto;
  padding-left: 80px;
  padding-top: 80px;
}


.header_img{
  position: relative;
}














.main_list_items{
  display: flex;
    width: 80%;
  margin-left: auto;
  margin-right: 10%;
}

.left_list{
  width: 25%;
}

.right_list{
  width: 75%;
  margin-left: 20px;
}

/*カテゴリー*/

.category{
	background-color: #f6f6f6;
}

.category th{
font-weight: bold;
font-size: 16px;
}

.category td{
font-size: 14px;
padding:10px 30px 10px 10px;
}

.category td i{
padding-left: 30px;}




/*リコメンド*/
.recommend{
	background-color: #f6f6f6;
}
.recommend h3{
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}
.recommend_details{
  display: flex;
  justify-content: space-around;
}
.recommend_items{
  width: 30%;
  position: relative;
}
.recommend_items p{
  position: absolute;
  bottom:5px;
  left:5px;
  color: white;
}

.recommend_items img{
  width: 100%;
  height: 200px;
  border-radius: 5px;
}




/*2つ目のリコメンド*/
.second_recommend .details{
  position: relative;
  margin-top: 20px;
}
.second_recommend .details p{
  position: absolute;
  top:10px;
  left:10px;
  color: white;
}

.second_recommend .details img{
  width: 100%;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}


















/*商品詳細*/
.product_list_items{
  display: flex;
  height: 100%;
  margin-top: 20px;
}

.item_img{
  width: 30%;
  max-height:200px;
}

.item_img img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.item_description{
  width: 70%;
  padding: 10px 20px 10px 20px;
  background-color: #f6f6f6;
}
.item_description a{
  text-decoration:none;
  color:#383838;
}

.item_description h4{
  font-size: 16px;
  font-weight: bold;
}

.item_description p{
  font-size: 14px;
}


.item_description table{
  margin-top: 10px;
  margin-left: 10px;
}

.item_description td{
  font-size: 12px;
  padding-right: 10px;
  padding-top: 5px;
  color: gray;
}

.item_description_price{
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}

.item_description span{
  font-size: 20px;
}
















.sns{
  width:350px;
  margin:0 auto;
  padding-top:10px;
  text-align:center;
}

.fa-facebook-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-instagram-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-twitter-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}


.black_footer{
	max-width: 100%;
	height:300px;
	margin-top: 60px;
	background-image: url("/cute_onsen.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}
.footer{
	background-color: rgba(0,0,0,0.6);
	height:300px;
}

.footer_details table{
	margin-left: auto;
	margin-right: auto;
  table-layout:fixed;
height:300px;
  
}

.footer_details td{
  text-align:center;
  color:#edf0ef;
  padding: 5px 45px 5px 45px;
}
.footer_details td a{
  text-decoration:none;
  color:#edf0ef;
}

.footer_details th{
  color:white;
  font-weight:bold;
  font-size:16px;
  padding-bottom:10px;
  padding-top:30px;
}

.mobile_menu{
  display:none;
}
.mobile_search{
  display:none;
}
.mobile_header_menu{
  display:none;
}




































@media screen and (max-width:480px){
.header{
  margin:0px 0px;
  width:100%;
}
.header_items{
  display:none;
}

.header_logo img{
  width:180px;
}

.mobile_menu{
  display:block;
}

.mobile_search{
  display:block;
}

.close{
  display:none;
}

.mobile_header_menu{
  display:block;
  text-align:center;
  
}

.mobile_header_menu a{
  text-decoration:none;
  color:#383838;
  
}




.header{
  display:flex;
    align-items: center;
    justify-content:space-around;
}

.fa-bars, .fa-search{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: rgb(33, 181, 192);
}















// ヘッダー画像

.header_img .header_img_detail img{
  width: 100%;
  height: 10px;
  object-fit: cover;
}


.header_img .header_img_detail .img{
  max-width: 100%;
  height: auto;
	position: relative;
}

.header_img_detail .img .text{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center; 
        align-items: center; 
        color:white;
        font-size:25px;
}
.header_img_detail .img span{
        color:white;
        font-size:10px;
}

.header_img_detail{
  background-size: cover;
height:80px;
}

.header_img_detail h2{
  color: white;
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(to bottom, rgba(33, 181, 192,0.8), #FFF);
  height: 50px;
  text-shadow:1px 1px 2px gray;
  padding-right: auto;
  padding-left: 10px;
  padding-top: 10px;
}


.header_img{
  position: relative;
}










.main_list_items{
width: 340px;
margin: 0 ;
  
}

.left_list{
display:none;}

.right_list{
  width: 100%;
  margin-left: 20px;
}

/*カテゴリー*/

.category{
display:none;}

.category th{
font-weight: bold;
font-size: 16px;
}

.category td{
font-size: 14px;
padding:10px 30px 10px 10px;
}

.category td i{
padding-left: 30px;}




/*リコメンド*/
.recommend{
	background-color: #f6f6f6;
	width:100%;
	
}

.recommend h3{
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}

.recommend_details{
  overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  margin-right: 10%;
  display: flex;
  justify-content:flex-start;
}
.recommend_items{
  width: 100%;
  position: relative;
}
.recommend_items p{
  position: absolute;
  bottom:5px;
  left:5px;
  color: white;
}

.recommend_items img{
  width: 250px;
  height: 200px;
  border-radius: 5px;
  margin-right:10px;
}




/*2つ目のリコメンド*/
.second_recommend .details{
  position: relative;
  margin-top: 20px;
}
.second_recommend .details p{
  position: absolute;
  top:10px;
  left:10px;
  color: white;
}

.second_recommend .details img{
  width: 100%;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}


















/*商品詳細*/
.product_list_items{
  display: block;
  height:400px;
  border:solid 1px #E6E6E6;
  // height: 200px;
  // margin-top: 20px;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.2));
}

.product_list_items_detail{
  height:100%;
}

.item_img{
  width: 100%;
  height:200px;
}

.item_img img{
  width: 100%;
  height: 100%;
}

.item_description{
  width: 100%;
  height: 190px;
  padding: 5px 0px 5px 0px;
  background-color: #f6f6f6;
}
.item_description a{
  text-decoration:none;
  color:#383838;
}

.item_description h4{
  font-size: 12px;
  font-weight: bold;
  padding:5px;
}

.item_description p{
  font-size: 10px;
  padding:5px;
}


.item_description table{
  margin-top: 0px;
  margin-left: 5px;
}

.item_description td{
  font-size: 12px;
  padding-right: 10px;
  padding-top: 5px;
  color: gray;
}

.item_description_price{
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}

.item_description span{
  font-size: 20px;
  padding-right:5px;
}


















.sns{
  width:350px;
  margin:0 auto;
  padding-top:10px;
  text-align:center;
}

.fa-facebook-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-instagram-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-twitter-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}


.black_footer{
	max-width: 100%;
	height:300px;
	margin-top: 60px;
	background-image: url("/cute_onsen.jpg");
	background-repeat:no-repeat;
	background-size: cover;
  object-fit: cover;

  
}
.footer{
	background-color: rgba(0,0,0,0.6);
	height:300px;
}

.footer_details table{
	margin-left: auto;
	margin-right: auto;
  table-layout:fixed;
height:300px;
  
}

.footer_details td{
  text-align:center;
  color:#edf0ef;
  padding: 5px 15px 5px 15px;
  font-size:10px;
}
.footer_details td a{
  text-decoration:none;
  color:#edf0ef;
}

.footer_details th{
  color:white;
  font-weight:bold;
  font-size:16px;
  padding-bottom:10px;
  padding-top:30px;
}













}
