body{
font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', 
'游ゴシック体', 'Yu Gothic Medium', YuGothic, 
'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 
'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 
sans-serif;
color:#383838;
font-size: 16px;
margin: 0px;
line-height: 1.7;
letter-spacing: 0.1em
}


.header {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: 10%;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  margin: 15px 0px 15px 0px;
}

.header li {
  display: inline;
  padding-right: 30px;
}

.header_items a {
  text-decoration: none;
  color: #383838
}

.header_items a:hover {
  color: black;
}

.header_logo img {
  width: 140px;
  max-height: 100%;
}



/*パンくず*/

.breadcrumb {
padding-left:0;
margin-left:0;
}

.breadcrumb li{
display:inline;/*横に並ぶように*/
list-style: none;
font-weight: bold;/*太字*/
}

.breadcrumb li:after {/* >を表示*/
content: '>';
padding: 0 3px;
color: #383838;
}

.breadcrumb li:last-child:after {
content: none;
}

.breadcrumb li a {
text-decoration: none;
color: rgb(33, 181, 192);/*色*/
}

.breadcrumb li a:hover {
text-decoration: underline;
}

.breadcrumb_container{
margin:20px 10% 20px 10%;
}

















/*payment*/


.payment{
	width:900px;
	margin:0 auto;
	
}

.buyer,.traveler,.payment_form,.order_total{
	width: 900px;
	background-color: #f6f6f6;
	margin-top: 40px;
	max-height: 100%;
}

.buyer h1,
.traveler h1,
.payment_form h1,
.order_total h1{
	border-bottom: solid 1px rgba(0,0,0,.06);
	padding:10px 0px 10px 10px;
	font-size: 16px;
	font-weight: bold;
}

.buyer h1:after,
.traveler h1:after,
.payment_form h1:after,
.order_total h1:after{
  font-family: 'FontAwesome';
  content: " \f0dd";
}

.buyer td{
	padding: 5px 0px 5px 20px;
}
.buyer input{
height: 30px;
width: 100%;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 100%;
font-family:inherit;
color:#383838;
}
.buyer input:focus{
    box-shadow: 0 0 5px 0 rgba(255,153,0,1);
    border: 2px solid #FFF !important;
    outline: 0;
}

.buyer select{
font-size: 100%;
font-family:inherit;
color:#383838;
}

.buyer table{
	max-width:710px;
	margin:0 auto;
}


.form-control{
	width:220px;
	height:33px;
	background:whtie;
}

.form-control-date{
	height:33px;
}







.traveler_item{
	display: flex;
	border-bottom: solid 1px rgba(0,0,0,.06);

}
.traveler_title_img img{
	width: 200px;
	height: 140px;
	object-fit:cover;
}
.traveler_title{
	width: 100%;
}
.traveler_product{
	display: flex;
	justify-content: space-around;
	width: 70%;
	font-size: 10px;
}
.traveler_title{
	height: 70px;
}
.traveler_title h2{
	font-size: 16px;
	padding-left: 10px;
	font-weight: bold;
}


.guest_details{
	width: 100%;
}

.each_guest_detail h3{
	margin-left: 10px;
	margin-top: 10px;
}
.each_guest_detail{
margin: 10px auto;
width:700px;
border: solid 1px rgba(0,0,0,.06);
border-radius: 10px;
background-color: white;
padding-bottom: 20px;
box-shadow: 0px 2px 4px rgba(0,0,0,.06);
}


.each_guest_detail select{
font-size: 100%;
font-family:inherit;
color:#383838;
background-color:white;
	
}


.each_guest_detail table{
	width:640px;
	margin:0 auto;
}

.each_guest_detail td{
padding: 5px 10px 5px 10px;
}

.each_guest_detail input{
height: 30px;
width: 220px;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 100%;
font-family:inherit;
color:#383838;
}
.each_guest_detail input:focus{
    box-shadow: 0 0 5px 0 rgba(255,153,0,1);
    border: 2px solid #FFF !important;
    outline: 0;
}





// .buyer .submit{
// 	background-color: rgb(33, 181, 192);
// 	color: white;
// 	margin: 20px 0px 20px 20px;
// 	padding: 0px;
// 	width: 80px;
// 	height: 40px;
// 	}


.guest_details .submit{
	background-color: rgb(33, 181, 192);
	color: white;
	margin: 0px 0px 20px 20px;
	width: 80px;
	height: 40px;
	border-radius: 5px;
border: 1px solid #ccc;

	}


.submit_btn{
text-align:center;
}
.submit_btn input{
color:white;
background-color: rgb(33, 181, 192);
font-family:inherit;
font-weight:bold;
width:200px;
height:40px;
font-size:20px;
margin:10px 0px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  cursor : pointer;
    
}
.submit_btn input:active{
  border-bottom: solid 2px gray;
  box-shadow: 33 181 0px rgba(0, 0, 0, 0.30);
}





























.sns{
  width:350px;
  margin:0 auto;
  padding-top:10px;
  text-align:center;
}

.fa-facebook-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-instagram-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-twitter-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}


.black_footer{
	max-width: 100%;
	height:300px;
	margin-top: 60px;
	background-image: url("/cute_onsen.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}
.footer{
	background-color: rgba(0,0,0,0.6);
	height:300px;
}

.footer_details table{
	margin-left: auto;
	margin-right: auto;
  table-layout:fixed;
height:300px;
  
}

.footer_details td{
  text-align:center;
  color:#edf0ef;
  padding: 5px 45px 5px 45px;
}
.footer_details td a{
  text-decoration:none;
  color:#edf0ef;
}

.footer_details th{
  color:white;
  font-weight:bold;
  font-size:16px;
  padding-bottom:10px;
  padding-top:30px;
}



// エラーメッセージ
.errors{
	  border: solid 1px red; 
}
.errors p{
font-size:16px;
font-weight:bold;
color:red;	
	
}

.errors li{
	color:red;
}

.mobile_label{
	display:none;
}

.mobile_menu{
  display:none;
}
.mobile_search{
  display:none;
}
.mobile_header_menu{
  display:none;
}




@media screen and (max-width:480px){

	
	.header{
  margin:0px 0px;
  width:100%;
}
.header_items{
  display:none;
}

.header_logo img{
  width:180px;
}

.mobile_menu{
  display:block;
}

.mobile_search{
  display:block;
}

.close{
  display:none;
}

.mobile_header_menu{
  display:block;
  text-align:center;
  
}

.mobile_header_menu a{
  text-decoration:none;
  color:#383838;
  
}




.header{
  display:flex;
    align-items: center;
    justify-content:space-around;
}

.fa-bars, .fa-search{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: rgb(33, 181, 192);
}




// payment

.payment{
	width:100%;
	margin:0 auto;
	
}

.buyer,.traveler,.payment_form,.order_total{
	width: 100%;
	background-color: #f6f6f6;
	margin-top: 20px;
	max-height: 100%;
}

.buyer h1,
.traveler h1,
.payment_form h1,
.order_total h1{
	border-bottom: solid 1px rgba(0,0,0,.06);
	padding:10px 0px 10px 10px;
	font-size: 16px;
	font-weight: bold;
}

.buyer h1:after,
.traveler h1:after,
.payment_form h1:after,
.order_total h1:after{
  font-family: 'FontAwesome';
  content: " \f0dd";
}

.buyer table,.buyer th,.buyer td{
	display:block;
}

.lavel{
	display:none;
}
// .buyer td{
// 	display:block;
// 	padding: 5px 20px 5px 20px;
// }

.buyer input{
height: 30px;
width: 85%;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 100%;
font-family:inherit;
color:#383838;
}
.buyer input:focus{
    box-shadow: 0 0 5px 0 rgba(255,153,0,1);
    border: 2px solid #FFF !important;
    outline: 0;
}

.buyer select{
font-size: 100%;
font-family:inherit;
color:#383838;
	
}














.traveler_item{
	display: flex;
	border-bottom: solid 1px rgba(0,0,0,.06);

}
.traveler_title_img img{
	width: 100px;
	height: 100%;
}
.traveler_title{
	width: 100%;
}
.traveler_product{
	display: flex;
	justify-content: space-around;
	width: 70%;
	font-size: 10px;
}
.traveler_title{
	height: 70px;
}
.traveler_title h2{
	font-size: 10px;
	padding-left: 10px;
	font-weight: bold;
}




.guest_details{
	width: 100%;
}


.each_guest_detail h3{
	margin-left: 10px;
	margin-top: 10px;
}

.each_guest_detail{
margin: 10px auto;
width:90%;
border: solid 1px rgba(0,0,0,.06);
border-radius: 10px;
background-color: white;
padding-bottom: 20px;
box-shadow: 0px 2px 4px rgba(0,0,0,.06);
}


.each_guest_detail select{
font-size: 100%;
font-family:inherit;
color:#383838;
background-color:white;
	
}


.each_guest_detail table{
 width:100%;
}

.each_guest_detail td{
// padding: 5px 10px 5px 10px;
	display:block;
width:80%;
}

.each_guest_detail input{
height: 30px;
width: 90%;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 100%;
font-family:inherit;
color:#383838;
}
.each_guest_detail input:focus{
    box-shadow: 0 0 5px 0 rgba(255,153,0,1);
    border: 2px solid #FFF !important;
    outline: 0;
}


.each_guest_detail tbody{
	width:100%;
}


.guest_details .submit{
	background-color: rgb(33, 181, 192);
	color: white;
	margin: 0px 0px 20px 20px;
	width: 80px;
	height: 40px;
	border-radius: 5px;
border: 1px solid #ccc;

	}


.submit_btn{
text-align:center;
}
.submit_btn input{
color:white;
background-color: rgb(33, 181, 192);
font-family:inherit;
font-weight:bold;
width:200px;
height:40px;
font-size:20px;
margin:10px 0px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  cursor : pointer;
    
}
.submit_btn input:active{
  border-bottom: solid 2px gray;
  box-shadow: 33 181 0px rgba(0, 0, 0, 0.30);
}









.sns{
  width:350px;
  margin:0 auto;
  padding-top:10px;
  text-align:center;
}

.fa-facebook-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-instagram-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-twitter-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}


.black_footer{
	max-width: 100%;
	height:300px;
	margin-top: 60px;
	background-image: url("/cute_onsen.jpg");
	background-repeat:no-repeat;
	background-size: cover;
  object-fit: cover;

  
}
.footer{
	background-color: rgba(0,0,0,0.6);
	height:300px;
}

.footer_details table{
	margin-left: auto;
	margin-right: auto;
  table-layout:fixed;
height:300px;
  
}

.footer_details td{
  text-align:center;
  color:#edf0ef;
  padding: 5px 0px 5px 15px;
  font-size:10px;
}
.footer_details td a{
  text-decoration:none;
  color:#edf0ef;
}

.footer_details th{
  color:white;
  font-weight:bold;
  font-size:16px;
  padding-bottom:10px;
  padding-top:30px;
}








	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}