
body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #383838;
  font-size: 14px;
  margin: 0px;
  line-height: 1.7;
  letter-spacing: 0.1em
}

.header {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: 10%;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  margin: 15px 0px 15px 0px;
}

.header li {
  display: inline;
  padding-right: 30px;
}

.header_items a {
  text-decoration: none;
  color: #383838
}


.header_logo img {
  width: 140px;
  max-height: 100%;
}


.header_img_detail img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}



.header_img_detail .img{
  width: 100%;
  	height: auto;
	position: relative;
}

.header_img_detail .img .text{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center; 
        align-items: center; 
        color:white;
        font-size:50px;
}
.header_img_detail .img span{
        color:white;
        font-size:20px;
}





/*パンくず*/

.breadcrumb {
padding-left:0;
margin-left:0;
}

.breadcrumb li{
display:inline;/*横に並ぶように*/
list-style: none;
font-weight: bold;/*太字*/
}

.breadcrumb li:after {/* >を表示*/
content: '>';
padding: 0 3px;
color: #383838;
}

.breadcrumb li:last-child:after {
content: none;
}

.breadcrumb li a {
text-decoration: none;
color: rgb(33, 181, 192);/*色*/
}

.breadcrumb li a:hover {
text-decoration: underline;
}

.breadcrumb_container{
margin:20px 10% 20px 10%;
}






/*package*/
.package h3{
font-size: 2rem;
margin-top: 3rem;
}
.calender{
	margin-top: 20px;
}
.calender td{
	text-align: center;
	vertical-align: middle;
}

.calender .date_input{
	height: 30px;
	width: 200px;
	text-align: center;
}

.package_details{
	border: solid 1px gray;
	margin-top: 20px;
}

.pacakge_product{
		// border-bottom: solid 1px gray;
		padding: 40px 10px 40px 10px;

}

.pacakge_product{
	display: flex;
	justify-content: space-around;
}

.package_adult{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: solid 1px gray;
	padding: 10px 5px 10px 5px;
}


.package_child{
	display: flex;
	justify-content: space-around;
	align-items: center;
		border-bottom: solid 1px gray;
			padding: 10px 5px 10px 5px;


}


.package_infant{
	display: flex;
	justify-content: space-around;
	align-items: center;
		padding: 10px 5px 10px 5px;

}

.numbers p{
	font-size: 12px;
}

.numbers{
	display: none;
}










/*product image*/
.product_image_item{
margin-left: 10%;
margin-right: 10%;
}

.product_image_item img{
width: 100%;
height:450px;
object-fit: cover;
}





/*product detail*/
.product_detail_information{
margin-left: 10%;
margin-right: 10%;
}
.product_detail_information_item {
display: flex;
justify-content: space-between;
}

.product_detail .details{
width: 70%;
}

.product_detail .product_detail_information_item{
}

.product_detail .booking_form{
width: 30%;
}

.details_icon{
display: flex;
justify-content: flex-start;
}

.cxl table{
margin-left: 20px;
}

.short_comment{
border-top: solid 1px ;
border-bottom: solid 1px;
}




/*product*/

.product_detail{
	margin-bottom: 2rem;
}

.details {
margin-left: 0.5rem;
margin-right: 0.5rem;
}
.details h1{
font-size: 2rem;
margin-top: 3rem;
} 

.details_icon{
margin: 1rem 0rem 1rem 0rem;	
font-size: 15px;
}

.short_comment p{
padding: 1rem 0rem 1rem 0rem;
font-size: 14px;
}

.explanation{
background-color: #f6f6f6;
}


.price_included{
background-color: #f6f6f6;
}

.highlight{
margin-top: 4rem;
}
.highlight h2{
background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}

.highlight p{
margin-top: 2rem;
font-size: 14px;
}

.information_of_course{
margin-top: 5rem;
}
.information_of_course h2{
background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}
.information_of_course p{
margin-top: 2rem;	
font-size: 14px;
}

.important_information{
margin-top: 5rem;
}

.important_information h2{
background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}
.important_information p{
margin-top: 2rem;	
font-size: 14px;
}

.about_tour{
margin-top: 5rem;
}

.about_tour h2{
background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}

.about_tour p{
margin-top: 2rem;	
font-size: 14px;
}

.addtional_information {
margin-top: 5rem;
}

.addtional_information h2 {
background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}
.addtional_information p {
margin-top: 2rem;	
font-size: 14px;
}

.itinerary_detail{
margin-top: 5rem;
}

.itinerary_detail ul{
margin-top: 2rem;
}

.itinerary_detail ul li{
margin-top: 2rem;	
font-size: 14px;
}

.itinerary_detail ul li:before {/* >を表示*/
content: '▶';
padding: 0 3px;
color: #ED3833;
}

.price_included_details{
margin-top: 5rem;
}

.price_included_details h2{
	background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}
.price_included_details ul{
margin-top: 2rem;
}
.price_included_details ul li{
margin-top: 2rem;	
font-size: 14px;
}

.cancel_detail{
margin-top: 5rem;
}

.cancel_detail h2{
	margin-bottom: 2rem;
}

.cancel_detail table td{
font-size: 14px;
padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}





/*booking form*/
.booking_area{
	margin-top: 3rem;
	border:0.5px solid #eaeaea;
	border-radius: 3%;
	box-shadow: 1px 1px 5px gray;

}

.booking_details{
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 20px;
}

.booking_details h1{
	font-size: 1.5rem;
	font-weight: bold;
}

.booking_details td{
	padding-right: 5px;
	font-size: 14px;
	vertical-align: bottom;
}

.booking_details img{
	width: 15px;
	height: 15px;
	object-fit: cover;
}

.booking_details h2{
	font-size: 25px;
	text-align: center;
	width: 100%;
	// background-color: rgb(33, 181, 192);
	margin-top: 10px;
	padding-top: 0px;
	color: white;
}
.form_for_booking .input_btn{
	font-size: 25px;
	text-align: center;
	width: 100%;
	background-color: rgb(33, 181, 192);
	margin-top: 10px;
	padding-top: 0px;
	color: white;
	border:0px;
}
.form_for_booking .input_btn[disabled]{
	font-size: 25px;
	text-align: center;
	width: 100%;
    background-color: #aaa;
	margin-top: 10px;
	padding-top: 0px;
	color: white;
	border:0px;
    cursor: not-allowed;

}

.icons{
margin-top: 10px;
margin-bottom: 10px;
}

.icons td{
	font-size: 12px;
}

.booking_area{
	  position: -webkit-sticky; 
  position: sticky;
  top: 10px;
}


.btn_color{
  color: rgb(33, 181, 192);
}




.product_name{
	font-weight: bold;
}


.availability{
text-align: center;
}
.calender_flexible{
color:red;
font-weight:bold;
}






















.sns{
  width:350px;
  margin:0 auto;
  padding-top:10px;
  text-align:center;
}

.fa-facebook-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-instagram-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-twitter-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}



.black_footer{
	max-width: 100%;
	height:300px;
	margin-top: 60px;
	background-image: url("/cute_onsen.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}
.footer{
	background-color: rgba(0,0,0,0.6);
	height:300px;
}

.footer_details table{
	margin-left: auto;
	margin-right: auto;
  table-layout:fixed;
height:300px;
  
}

.footer_details td{
  text-align:center;
  color:#edf0ef;
  padding: 5px 45px 5px 45px;
}
.footer_details td a{
  text-decoration:none;
  color:#edf0ef;
}

.footer_details th{
  color:white;
  font-weight:bold;
  font-size:16px;
  padding-bottom:10px;
  padding-top:30px;
}


.mobile_menu{
  display:none;
}
.mobile_search{
  display:none;
}
.mobile_header_menu{
  display:none;
}








@media screen and (max-width:480px){
.header{
  margin:0px 0px;
  width:100%;
}
.header_items{
  display:none;
}

.header_logo img{
  width:180px;
}

.mobile_menu{
  display:block;
}

.mobile_search{
  display:block;
}

.close{
  display:none;
}

.mobile_header_menu{
  display:block;
  text-align:center;
  
}

.mobile_header_menu a{
  text-decoration:none;
  color:#383838;
  
}




.header{
  display:flex;
    align-items: center;
    justify-content:space-around;
}

.fa-bars, .fa-search{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: rgb(33, 181, 192);
}






/*パンくず*/

.breadcrumb {
padding-left:0;
margin-left:0;
}

.breadcrumb li{
display:inline;/*横に並ぶように*/
list-style: none;
font-weight: bold;/*太字*/
}

.breadcrumb li:after {/* >を表示*/
content: '>';
padding: 0 3px;
color: #383838;
}

.breadcrumb li:last-child:after {
content: none;
}

.breadcrumb li a {
text-decoration: none;
color: rgb(33, 181, 192);/*色*/
}

.breadcrumb li a:hover {
text-decoration: underline;
}

.breadcrumb_container{
margin: 10px 5% 10px 5%;
}











/*product*/

.product h2 {
  margin-left: 5%;
  margin-right:0%;
  margin-top: 20px;
  font-size: 18px;
}

.product_item {
  width: 260px;
  height: 300px;
  margin: 20px 10px 20px 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .12), 0 2px 3px 0 rgba(0, 0, 0, .22);
  transition: 0.3s;
}


.product .products{
  overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
      margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content:flex-start;
}

.product_item span {
	color:rgb(33, 181, 192);
}

.product_img {
  height: 50%;
  width: 100%;
}

.product_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product_detail span {
  display: inline;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.product_detail h3 {
  font-size: 16px;
}
// .product_detail p {
//   font-size: 12px;
// }

.product_detail td {
  font-size: 12px;
}

.product_detail {
  padding: 5px 10px 5px 10px;
}

.products a{
    text-decoration: none;
    color: #383838;
}









// special area
.special h3{
  margin-left: 5%;
  margin-right:0%;
  margin-top: 20px;
  font-size: 18px;

}

.special{
	margin-top: 60px;
}

.special_contents {
  margin-left:10%;
  margin-right: 10%;
}

.special .special_contents .first_contents {
  display: flex;
  justify-content: flex-start;
	  overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    width:400px;
    height:300px;
}

.first_contents .first_content {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
}

.special .special_contents .first_contents img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}

.special .special_contents .first_contents p {
  object-fit: cover;
  width: 50%;
  height:250px;
  position: absolute;
  /*絶対配置*/
  color: gray;
  /*文字は白に*/
  top: 10%;
  left: 5%;
  font-size: 16px;
}

.first_contents .second_content {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
}

.first_contents .second_content img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}

.first_contents .second_content p {
  object-fit: cover;
  // height: 70px;
  height:250px;
  width: 50%;
  position: absolute;
  /*絶対配置*/
  color: gray;
  /*文字は白に*/
  top: 60%;
  left: 5%;
  font-size: 16px;
}

.second_contents {
  display: flex;
  justify-content: flex-start;
	  overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    width:400px;
    height:320px;
}

.second_contents .first_content {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
}

.second_contents .first_content img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}

.second_contents .first_content p {
  object-fit: cover;
  // height: 70px;
  width: 50%;
  position: absolute;
  /*絶対配置*/
  color: white;
  /*文字は白に*/
  top: 60%;
  left: 5%;
  font-size: 16px;
}

.second_contents .second_content {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
}

.second_contents .second_content img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}

.second_contents .second_content p {
  object-fit: cover;
  // height: 70px;
  width: 50%;
  position: absolute;
  /*絶対配置*/
  color: white;
  /*文字は白に*/
  top: 60%;
  left: 5%;
  font-size: 16px;
}








.sns{
  width:350px;
  margin:0 auto;
  padding-top:10px;
  text-align:center;
}

.fa-facebook-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-instagram-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}
.fa-twitter-square{
  color:white;
  font-weight:400;
  padding:0 10px;
}




.black_footer{
	max-width: 100%;
	height:300px;
	margin-top: 60px;
	background-image: url("/cute_onsen.jpg");
	background-repeat:no-repeat;
	background-size: cover;
  object-fit: cover;

  
}
.footer{
	background-color: rgba(0,0,0,0.6);
	height:300px;
}

.footer_details table{
	margin-left: auto;
	margin-right: auto;
  table-layout:fixed;
height:300px;
  
}

.footer_details td{
  text-align:center;
  color:#edf0ef;
  padding: 5px 15px 5px 15px;
  font-size:10px;
}
.footer_details td a{
  text-decoration:none;
  color:#edf0ef;
}

.footer_details th{
  color:white;
  font-weight:bold;
  font-size:16px;
  padding-bottom:10px;
  padding-top:30px;
}






// 商品

/*package*/
.package h3{
font-size: 2rem;
margin-top: 3rem;
}
.calender{
	margin-top: 20px;
}
.calender td{
	text-align: center;
	vertical-align: middle;
}

.calender .date_input{
	height: 30px;
	width: 200px;
	text-align: center;
}

.package_details{
	border: solid 1px gray;
	margin-top: 20px;
}

.pacakge_product{
		// border-bottom: solid 1px gray;
		padding: 40px 10px 40px 10px;

}

.pacakge_product{
	display: inline;
}
// .pacakge_product span{
// text-align:center;
// }

// .total_price{
//   padding-top:10px;
//   color:rgb(33, 181, 192);
// }

.package_adult{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: solid 1px gray;
	padding: 10px 5px 10px 5px;
}


.package_child{
	display: flex;
	justify-content: space-around;
	align-items: center;
		border-bottom: solid 1px gray;
			padding: 10px 5px 10px 5px;


}


.package_infant{
	display: flex;
	justify-content: space-around;
	align-items: center;
		padding: 10px 5px 10px 5px;

}

.numbers p{
	font-size: 12px;
}

.numbers{
	display: none;
}
.package_adult{
	font-size:16px;
}










/*product image*/
.product_image_item{
margin-left: 5%;
margin-right: 5%;
}

.product_image_item img{
width: 100%;
height:200px;
object-fit: cover;
}





/*product detail*/
.product_detail_information{
margin-left: 5%;
margin-right: 5%;
}
.product_detail_information_item {
display: block;
}

.product_detail .details{
width: 100%;
}

.product_detail .product_detail_information_item{
  
}

.product_detail .booking_form{
width: 100%;
}

.details_icon{
display: flex;
justify-content: flex-start;
}

.cxl table{
margin-left: 20px;
}

.short_comment{
border-top: solid 1px ;
border-bottom: solid 1px;
}




/*product*/

.product_detail{
	margin-bottom: 2rem;
}

.details {
margin-left: 0%;
margin-right: 0%;
}
.details h1{
font-size: 20px;
margin-top: 5px;
} 
// .details p{
// display:none;
  
// } 
// .details span{
// display:none;} 

.price{
  text-align:center;
  padding-top:10p;
}

.details_icon{
margin: 1rem 0rem 1rem 0rem;	
font-size: 15px;
}

.short_comment p{
padding: 1rem 0rem 1rem 0rem;
font-size: 14px;
}

.explanation{
background-color: #f6f6f6;
}


.price_included{
background-color: #f6f6f6;
}

.highlight{
margin-top: 4rem;
}
.highlight h2{
background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}

.highlight p{
margin-top: 2rem;
font-size: 14px;
}

.information_of_course{
margin-top: 5rem;
}
.information_of_course h2{
background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}
.information_of_course p{
margin-top: 2rem;	
font-size: 14px;
}

.important_information{
margin-top: 5rem;
}

.important_information h2{
background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}
.important_information p{
margin-top: 2rem;	
font-size: 14px;
}

.about_tour{
margin-top: 5rem;
}

.about_tour h2{
background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}

.about_tour p{
margin-top: 2rem;	
font-size: 14px;
}

.addtional_information {
margin-top: 5rem;
}

.addtional_information h2 {
background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}
.addtional_information p {
margin-top: 2rem;	
font-size: 14px;
}

.itinerary_detail{
margin-top: 5rem;
}

.itinerary_detail ul{
margin-top: 2rem;
}

.itinerary_detail ul li{
margin-top: 2rem;	
font-size: 14px;
}

.itinerary_detail ul li:before {/* >を表示*/
content: '▶';
padding: 0 3px;
color: #ED3833;
}

.price_included_details{
margin-top: 5rem;
}

.price_included_details h2{
	background: linear-gradient(transparent 70%, white 40%);
width: 200px;
}
.price_included_details ul{
margin-top: 2rem;
}
.price_included_details ul li{
margin-top: 2rem;	
font-size: 14px;
}

.cancel_detail{
margin-top: 5rem;
}

.cancel_detail h2{
	margin-bottom: 2rem;
}

.cancel_detail table td{
font-size: 14px;
padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}





/*booking form*/
.booking_area{
	margin-top: 3rem;
	border:0.5px solid #eaeaea;
	border-radius: 3%;
	box-shadow: 1px 1px 5px gray;

}

.booking_details{
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 20px;
}

.booking_details h1{
	font-size: 1.5rem;
	font-weight: bold;
}

.booking_details td{
	padding-right: 5px;
	font-size: 14px;
	vertical-align: bottom;
}

.booking_details img{
	width: 15px;
	height: 15px;
	object-fit: cover;
}

.booking_details h2{
	font-size: 25px;
	text-align: center;
	width: 100%;
	// background-color: rgb(33, 181, 192);
	margin-top: 10px;
	padding-top: 0px;
	color: white;
}
.form_for_booking .input_btn{
	font-size: 25px;
	text-align: center;
	width: 100%;
	background-color: rgb(33, 181, 192);
	margin-top: 10px;
	padding-top: 0px;
	color: white;
	border:0px;
}
.form_for_booking .input_btn[disabled]{
	font-size: 25px;
	text-align: center;
	width: 100%;
    background-color: #aaa;
	margin-top: 10px;
	padding-top: 0px;
	color: white;
	border:0px;
    cursor: not-allowed;

}

.icons{
margin-top: 10px;
margin-bottom: 10px;
}

.icons td{
	font-size: 12px;
}

.booking_area{
	 // position: -webkit-sticky; 
  // position: sticky;
  top: 10px;
}


.btn_color{
  color: rgb(33, 181, 192);
}




.product_name{
	font-weight: bold;
	font-size:12px;
	padding-left:5px;
	padding-right:5px;
}


.availability{
text-align: center;
}
.calender_flexible{
color:red;
font-weight:bold;
}

.fa-minus{
  font-size:20px;
}
.fa-plus{
  font-size:20px;
}



.adult_price{
  font-size: 5px;
}














}