<%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'confirmation' %>
    <%= javascript_include_tag 'confirmation' %>
      <div class="thanks_message">
        <p>THANK YOU !!</p> <span>Please keep it until tour start.</span>
        <div><i class="fas fa-check fa-5x my-blue fa-fw"></i></div>
      </div>
      <div class="main_container">
        <div class="upper_section">
          <div class="product">
            <h1>Product information</h1>
            <table>
              <tr>
                <th>Product name</th>
                <td>
                  <%=@reserver.booking.product.name%>
                </td>
              </tr>
              <tr>
                <th>Prefecture</th>
                <td>
                  <%=@reserver.booking.product.prefecture%>
                </td>
              </tr>
              <tr>
                <th>Pick up</th>
                <td>
                  <%=@reserver.booking.product.pickup%>
                </td>
              </tr>
              <tr>
                <th>Drop Off</th>
                <td>
                  <%=@reserver.booking.product.dropoff%>
                </td>
              </tr>
              <tr>
                <th>Adult_price</th>
                <td>
                  <%=@reserver.booking.product.adult_price%>
                </td>
              </tr>
              <tr>
                <th>Child Price</th>
                <td>
                  <%=@reserver.booking.product.child_price%>
                </td>
              </tr>
              <tr>
                <th>Infant Price</th>
                <td>
                  <%=@reserver.booking.product.infant_price%>
                </td>
              </tr>
              <tr>
                <th>Price Included</th>
                <td>
                  <%=simple_format(@reserver.booking.product.include_price)%>
                </td>
              </tr>
            </table>
          </div>
          <div class="booking">
            <h2>Booking information</h2>
            <table>
              <tr>
                <th>Booking Date</th>
                <td>
                  <%=@reserver.booking.date%>
                </td>
              </tr>
              <tr>
                <th>Number of Adult</th>
                <td>
                  <%=@reserver.booking.adult_number%>
                </td>
              </tr>
              <tr>
                <th>Number of Child</th>
                <td>
                  <%=@reserver.booking.child_number%>
                </td>
              </tr>
              <tr>
                <th>Number of Infant</th>
                <td>
                  <%=@reserver.booking.infant_number%>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="lower_section">
          <div class="reserver">
            <h3>Reserver Information</h3>
            <table>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Nationality</th>
              </tr>
              <tr>
                <td>
                  <%=@reserver.first_name%>
                    <%=@reserver.last_name%>
                </td>
                <td>
                  <%=@reserver.birth%>
                </td>
                <td>
                  <%=p @reserver.gender ==1 ? "Male":"Female"%>
                </td>
                <td>
                  <%=@reserver.nationality%>
                </td>
              </tr>
              <tr>
                <th>Phone</th>
                <th>Passport</th>
                <th colspan="2">Email</th>
              </tr>
              <tr>
                <td>
                  <%=@reserver.phone%>
                </td>
                <td>
                  <%=@reserver.passport%>
                </td>
                <td colspan="2">
                  <%=@reserver.email%>
                </td>
              </tr>
            </table>
          </div>
          <div class="passenger">
            <h4>Passenger Inforation</h4>
            <table>
              <tr>
                <th>Name</th>
                <th>Birth</th>
                <th>Passport</th>
              </tr>
              <%@reserver.passengers.each do |p|%>
                <tr>
                  <td>
                    <%=p.first_name%>
                      <%=p.last_name%>
                  </td>
                  <td>
                    <%=p.birth%>
                  </td>
                  <td>
                    <%=p.passport%>
                  </td>
                </tr>
                <%end%>
            </table>
          </div>
        </div>
      </div>
      <div class="back_to_top"> 
      <a href="/users" data-turbolinks="false">Back to Top</a> 
      </div>