<!DOCTYPE html>
<html lang="en">
<head>
  <title>trip2local</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  <script src="https://kit.fontawesome.com/5246590bdc.js" crossorigin="anonymous"></script>
  <%= include_gon %>
    <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
          <!--slick -->
          <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
          <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
          <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
  <!--ヘッダ-->
  <div class="header">
    <div class="mobile_menu"><i class="fas fa-bars fa-fw fa-2x"></i></div>
    <div class="header_logo">
      <%=link_to users_path,data: {"turbolinks" => false} do%> <img src="/logo.png">
        <%end%>
    </div>
    <div class="header_items">
      <ul>
        <li><a href="/" data-turbolinks="false">TOP</a></li>
        <li><a href="https://www.freeplus.co.jp/en/company" target="_blank">About US</a></li>
        <li><a href="/users/list" data-turbolinks="false">Product</a></li>
        <li>Login</li>
      </ul>
    </div>
    <div class="mobile_search"> <a href="/users/list" data-turbolinks="false">
        <i class="fas fa-search fa-fw fa-2x"></i>
        </a> </div>
  </div>
  <%= yield %>
    <!-- フッダー -->
    <div class="black_footer">
      <div class="footer">
        <div class="sns"> <a href="https://www.facebook.com/trip2local/?__tn__=%2Cd%2CP-R&eid=ARCMtqy_D44eOvOK3Malis24ww7vRSt6s_u1abnzvoi3cqo3nIi32LoxMYNn2LgaPi6svB9ts_A7ukas" target="_blank"><i class="fab fa-facebook-square fa-2x fa-fw"></i></a> <a href="https://www.instagram.com/trip2local/?utm_source=ig_embed&ig_mid=74967590-3E49-498C-B005-F3C9737CEAAE" target="_blank"><i class="fab fa-instagram-square fa-2x fa-fw"></i></a> <a href="https://twitter.com/Kyushu_tourism?fbclid=IwAR3CrnTxsmyDcqtg413wWV48W-C42KD2NrYNPMvzDtwQk83zwRQ_hO4ybAI" target="_blank"><i class="fab fa-twitter-square fa-2x fa-fw"></i></a> </div>
        <div class="f_footer">
          <div class="footer_details">
            <table>
              <tr>
                <th>About us</th>
                <th>Business</th>
                <th>News</th>
                <th>Recruit</th>
              </tr>
              <tr>
                <td><a href="https://www.freeplus.co.jp/en/company" target="_blank">Company Overview</a></td>
                <td><a href="https://www.freeplus.co.jp/en/business" target="_blank">Land Operation</a></td>
                <td><a href="https://www.freeplus.co.jp/en/news/pressrelease" target="_blank">Press Release</a></td>
                <td><a href="https://www.freeplus.co.jp/en/recruit" target="_blank">新卒採用/キャリア採用</a></td>
              </tr>
              <tr>
                <td><a href="https://www.freeplus.co.jp/en/company/mission" target="_blank">Philosophy & Mission</a></td>
                <td></td>
                <td><a href="https://www.freeplus.co.jp/en/news/freeplus" target="_blank">FREEPLUS News</a></td>
                <td><a href="https://www.freeplus.co.jp/en/recruit/tourguide/data" target="_blank">ガイド登録</a></td>
              </tr>
              <tr>
                <td><a href="https://www.freeplus.co.jp/en/company/message" target="_blank">Message from CEO</a></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><a href="https://www.freeplus.co.jp/en/company/history" target="_blank">History</a></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>
</html>